{
  "presets": [
    ["@babel/env", { "useBuiltIns": "entry", "corejs": 3 }],
    "@babel/typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-typescript",
      { "allowNamespaces": true, "allowDeclareFields": true }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-runtime"
  ],
  "env": {
    "test": {
      "plugins": [
        ["istanbul"]
      ]
    }
  }
}
